ion-toolbar {
  --background: no-repeat center top url('/assets/bg-top.svg');
}

ion-content {
  // We have to turn off all the regular bg stuff for the Custom Property...
  --background: none;
  //...and then add it back to the regular CSS background.
  background: url('/assets/bg-top.svg') no-repeat center calc(-44px) local;
  
  .transparent {
    background-color: rgba(255, 255, 255, 0.50);
  }
  
  // We can target the 'scroll' part within the shadow root of ion-content
  &::part(scroll) {
    // We can set this z-index above ion-refresher so the icon doesn't show
    z-index: 1;
    // We can also attach the bottom bg image to the bottom of the page.
    background: url('/assets/bg-bottom.svg') no-repeat center bottom local;
  }
}

ion-refresher {
  // This z-index defaults to -1, but then it's behind the background.
  // What could changing the z-index mess up?
  z-index: 0;
  // outline: 1px solid blue;
}
