<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>::part Pseudo El</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <!-- <ion-refresher-content></ion-refresher-content> -->
    <!--
      The extra text looks OK when behind the content, though I still think it's unnecessary.

      Here's another weird difference between browser and device. I don't see the extra text
      on the device, only in the browser. Only when I change the default icons do I see the
      text on the device (that must be what switches it away from the native one.)
    -->
    <!-- <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content> -->

    <!-- <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingText="Refreshing..."
      pullingIcon="arrow-down-outline"
      refreshingSpinner="circular"
    ></ion-refresher-content> -->

    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      refreshingSpinner="circular"
    ></ion-refresher-content>
    
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title><code>::part</code> pseudo element</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>This is pretty good. We can target <code>ion-content::part(scroll)</code> and change its z-index. This way our layers are in order:
        <ol>
          <li>scroll content</li>
          <li>refresher</li>
          <li>background</li>
        </ol>
      </div>
      <div>We can even bring back the extra refresher text, though I don't like it.</div>
      <div>We can also use <code>::part(scroll)</code> to attach the bottom bg to the content so it scrolls into view and let's the user know they've reached the bottom.</div>
    </ion-card-content>
  </ion-card>
  
  
  <ion-card *ngFor="let blah of [].constructor(8)" class="transparent">
    <ion-card-header>
      <ion-card-title>header/title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque autem assumenda, amet ipsum inventore earum eveniet reiciendis, dolor accusamus non voluptate, temporibus expedita odio quibusdam distinctio repellendus tenetur deleniti hic.
    </ion-card-content>
  </ion-card>
  
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Bottom card</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque autem assumenda, amet ipsum inventore earum eveniet reiciendis, dolor accusamus non voluptate, temporibus expedita odio quibusdam distinctio repellendus tenetur deleniti hic.
    </ion-card-content>
  </ion-card> -->
  
  
</ion-content>
