<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bg on Content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bg on Content with <span style="white-space: nowrap;">--background</span></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Here's an attempt to attach the bgs to ion-content using its <code>--background</code> CSS Custom Property, but it doesn't really work. The background-attachment options (fixed, local, & scroll) don't seem to affect anything. I think it's because the background is a shadow part that isn't really part of the scrolling content.</p>
      <p>The background div must not know the height of the content. Maybe that could be set in the code? That would be hacky.</p>
    </ion-card-content>
  </ion-card>
  
  
  <ion-card *ngFor="let blah of [].constructor(8)" class="transparent">
    <ion-card-header>
      <ion-card-title>header/title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque autem assumenda, amet ipsum inventore earum eveniet reiciendis, dolor accusamus non voluptate, temporibus expedita odio quibusdam distinctio repellendus tenetur deleniti hic.
    </ion-card-content>
  </ion-card>
  
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Bottom card</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque autem assumenda, amet ipsum inventore earum eveniet reiciendis, dolor accusamus non voluptate, temporibus expedita odio quibusdam distinctio repellendus tenetur deleniti hic.
    </ion-card-content>
  </ion-card> -->
  
  
</ion-content>
