ion-card-content {
  div {
    padding-bottom: 1rem;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

ion-toolbar {
  // Just a note that using custom properties here is fine.
  // TODO this could probably be set globally, though the manipulations
  // we'll have to do for the content bg probably have to be in the
  // component, so it might make sense to keep this here too.
  --background: no-repeat center top url('/assets/bg-top.svg');
}

ion-content {

  .parallax-background {
    /* We shouldn't set the height. It will be set dynamically by the directive. */
    // width: 100%;

    background-image:
      url('/assets/bg-top.svg'),
      url('/assets/bg-bottom.svg');

    background-repeat:
      no-repeat,
      no-repeat;

    background-position:
      center calc(-44px - env(safe-area-inset-top)),
      center bottom;
  }

  --background: white;

  // just to see through the cards
  // .transparent {
  //   background-color: rgba(255, 255, 255, 0.70);
  // }
  
}
