ion-toolbar {
  // Just a note that using custom properties here is fine.
  // TODO this could probably be set globally, though the manipulations
  // we'll have to do for the content bg probably have to be in the
  // component, so it might make sense to keep this here too.
  --background: no-repeat center top url('/assets/bg-top.svg');
}

ion-content {
  /**
   * We had to set the `--background` Custom Property to `none` in
   * order to use the standard CSS `background`, but I don't think
   * it's necessary anymore because the top bg is in a fixed div
   * and the bottom bg is in `part(scroll)`...but probably doesn't hurt.
   */
  --background: none;
  
  #bg {
    width: 100%;
    // This height doesn't matter as long as it's taller than the bg image.
    // height: 504px;
    height: 100%;
    margin-top: -44px; // set this instead of a confusing calc()?
    background: url('/assets/bg-top.svg') no-repeat center top;
  }

  // We can target the 'scroll' part within the shadow root of ion-content
  &::part(scroll) {
    // We can set this z-index above ion-refresher so the icon doesn't show
    z-index: 1;
    // We can also attach the bottom bg image to the bottom of the page.
    background: url('/assets/bg-bottom.svg') no-repeat center bottom local;
  }

  // just to see through the cards
  .transparent {
    background-color: rgba(255, 255, 255, 0.50);
  }
  
}

.ios ion-refresher {
  // This z-index defaults to -1 (on iOS), but then it's behind the background.
  // What could changing the z-index mess up?
  z-index: 0;
  // On Android the default is z-index:1 and we don't want to change it.
}
