<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>BG Scroll</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" [appBgScroll]="bg">

  <div id="bg" #bg slot="fixed">
    <!--
      This is all required to prevent an ugly gap from appearing
      between the header background and the content background when
      using pull-to-refresh. It also lets us get fancy with parallax.

      ion-content needs scrollEvents enabled, and it needs the
      #bg template reference passed to the appBgScroll directive.

      The directive reacts to the scroll events by changing the
      position of the background of this div.
      
      The bg id is used in the CSS to set the image, etc.

      Using slot="fixed" keeps this div at the top and the CSS
      helps layer things accordingly with z-index. The referesher
      is normally behind the content and bg, but we want it to
      be between the two.
    -->
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>BG Scroll</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="scrollToBottom()">bottom</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="transparent">
    <ion-card-header>
      <ion-card-title>more...</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>This might be it. Everything works and is layered as expected. It's less hacky than watching refresher events. And the scrolling logic is tucked away in a directive.</div>
      <div>Instead of swapping between fixed and scrolling bgs, there's one fixed div which has a background that we move dynamically based on scroll position.</div>
      <div>The div has the `slot` attribute set to `fixed` which pulls it out of the scrolling content.</div>
      <div>`scrollEvents` are turned on for `ion-content` which is the iffy part of this because it could affect performance (and this is part of the performance perception epic after all). But we're using the DomController so the renders should be performant.</div>
      <div>This gives us the opportunity to use a slick parallax effect so the bg moves slower than the content (really, we are forced into it because there's a slight but noticeable lag when trying to move the bg at the same speed as the content).</div>
      <div>The bottom bg is still attached to the bottom with the scroll shadow part, but it could be parallax as well.</div>
    </ion-card-content>
  </ion-card>
  
  
  <ion-card *ngFor="let blah of [].constructor(8)" class="transparent">
    <ion-card-header>
      <ion-card-title>header/title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque autem assumenda, amet ipsum inventore earum eveniet reiciendis, dolor accusamus non voluptate, temporibus expedita odio quibusdam distinctio repellendus tenetur deleniti hic.
    </ion-card-content>
  </ion-card>

  
  <ion-card class="transparent">
    <ion-card-header>
      <ion-card-title>BG Scroll</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="scrollToTop()">top</ion-button>
    </ion-card-content>
  </ion-card>

  
  
</ion-content>
